# Dépendances
node_modules/
node_modules/*
package-lock.json

# Environnement
.env

# Logs
logs
*.log
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration d'IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Fichiers temporaires
*.tmp
*.swp
*.bak
